body{
	background-color: #FCFDFE;
}
form{
	position: relative;
	margin: 50px;
}

label{
	color:gray;
}

img{
	max-width: 140px;
	max-height: 100px;
}

a{
    padding: 10px 30px 10px;
}

input{
	margin:10px;
}

table, th, td {
	border: 1px solid black;
	text-align: center;
}

td{
	width: 100px;
 	height: 100px;
 	padding: 10px;
}

.register{
	width: 760px;
	border: 1px solid gray;
	background-color: #F8FAFC;
	border-radius: 10px;
	display: inline-block;
}

.margin-form{
	margin-top: 20px;
}

form .btn{
	float: right;
	margin: 10px;
}

.title{
	margin-bottom: 	20px;
	text-align: center;
}

.div-align {
	text-align: center;
}