<div class="div-align">
	<div class="register">
		<h3>Cadastre um Carro!</h3>
		<form name="formCar" ng-invalid="true">
			<div class="margin-form">
				<h4>Placa(*):</h4>
				<input class="form-control" type="text" ng-model="car.id" required>
			</div>
			<div class="margin-form">
				<h4>Imagem:</h4>
				<input class="form-control" type="text" ng-model="car.image" id="car_image"><br/>
			</div>
			<div class="margin-form">
				<h4>Marca(*):</h4>
				<input class="form-control" type="text" ng-model="car.mark" id="car_mark" required><br/>
			</div>
			<div class="margin-form">
				<h4>Modelo(*):</h4>
				<input class="form-control" type="text" ng-model="car.model" id="car_model" required><br/>
			</div>
			<div class="margin-form">
				<h4>Combustível:</h4>
				<select class="form-control" ng-model="car.fuel" id="car.fuel">
					<option value="gasolina" selected="selected">Gasolina</option>
					<option value="alcool">Alcool</option>
					<option value="flex">Flex</option>
				</select>
			</div>
		</form>
		<button class="btn btn-success" ng-click="addCar()">Salvar</button>
		<button class="btn btn-info" ng-click="addDBasicBase()">Adiconar base</button>
	</div>
</div>>