<input type="text" class="form-control" ng-model="valueSeach" placeholder="Busque aqui por um carro"/></br>

<table class="table table-striped">
	<thead>
		<tr class="min-magin">
			<th>checkbox</th>
			<th>placa</th>
			<th>imagem</th>
			<th>marca</th>
			<th>modelo</th>
			<th>combustivel</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="car in listCar.slice(init, end) | filter:valueSeach" class="min-magin">
			<td><input type="radio" value="{{$index}}" ng-model="carSelected.index" name="carGroup"/></td>
			<td>{{car.id}}</td>
			<td><img src="{{car.image}}"></td>
			<td>{{car.mark}}</td>
			<td>{{car.model}}</td>
			<td>{{car.fuel}} </td>
		</tr>
	</tbody>
</table>

<nav>
	<ul class="pagination">
		<li><a ng-click="previous()">
				<span>&laquo;</span>
			</a>
		<li><a ng-click="next()">
				<span>&raquo;</span>
			</a>
		</li>
	</ul>
</nav>
<button class="btn btn-danger" ng-click="remove(carSelected.index)">remover</button>
<button class="btn btn-warning" ng-click="removeAll()">remover tudo</button>

<button id="$index" class="btn btn-info" ng-click="edit(carSelected.index)">Editar</button>
